<div class="fiche @(FlipAnimation ? "flip" : "")"
     style="background-color: @Color.ToString()"
     @onclick="OnClick"> @ChildContent</div>

@code {
    [Parameter]
    public Colors Color { get; set; }

    [Parameter]
    public int Row { get; set; }

    [Parameter]
    public int Col { get; set; }

    [Parameter]
    public bool FlipAnimation { get; set; }

    [Parameter]
    public EventCallback<(int row, int col)> Flipped { get; set; }

    private async Task OnClick() => await Flipped.InvokeAsync((Row, Col));

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}


